<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Toy app based on Sinatra & Puma & Sequel & Postgres & Docker & Nginx">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Sinatra Docker!</title>
</head>

<body>
    <h3>A multi-instances of a Sinatra-Puma app on Docker served by Postgres/Sequel, reverse-proxied by Nginx.</h3>
    <p> The app server Puma serves Sinatra for the dynamic part: queries to the database and server redering dynamic html).
    The web-server Nginx serves the <strong>static files</strong> (css, png, jpeg) and <strong>load balances</strong>
    with Docker's DNS when 5 instances/containers of the app are launched.
    The app saves the queries to the page in a Postgres database powered with the ORM Sequel.</p>
    <code>docker-compose up --scale webapp=5</code> 
    <br>  
    <p> Each page refresh is recorded in Postgres with the ORM Sequel (using Sequel_pg), and the logs are saved to '/dev/stdout' (the console) with Sequel.
    The last logs are displayed below by querying the database. The nginx logs are redirected to STDOUT/STDERROR.        
    </p>
    <p class="btn-center"> <button id='restart'style="font-size:24px; color:blue">Reload !</button></p>    
    <p>
        <form action="/clean" method="get" class="btn-center" >
            <input type="submit" value="Clean!" style="color:red">
        </form>
    </p>
    <hr>
    <div>
    <hr>  
    <div style="display: grid; grid-template-columns: 65vw 30vw;"> 
        <div style="grid-column:1">
            <table class="aligned">
                <tr>
                    <th>Timestamp</th>
                    <th>Client IP</th>
                    <th>Server (Container)</th>
                    <th>Path</th>
                </tr>
                <% queries.each do |query| %>
                    <tr>
                        <td><%= query[:requested_at] %></td>
                        <td><%= query[:ip] %></td>
                        <td><%= query[:host] %></td>
                        <td><%= query[:path] %></td>
                    </tr>
                <% end %>
            </table>
        </div> 
        
        <div style="grid-column:2;" class="lb">

            <div class="servers" >
                <img  src="server.png" alt="server" >
                <span ><%= server %></span>
            </div>
            
                   
        </div>
    </div>
    <hr>
    <p> Sinatra is served by Puma, and Nginx and Docker serves this page with mount binds. The source code is binded so
    any changes in the <strong>/views/index.erb</strong> file will be displayed if the page is refreshed (the directive volumes: .:/app in the docker-compose.yml).
    Then the static files  are binded to nginx so serve them instead of Puma: the folder 'app/public' with the directive volumes: ./public:/usr/share/nginx/html:ro 
    in the docker-compose (instead of a COPY command in the Dockerfile of nginx). 
    </p>
    <div class='aligned'>
        <img class="technos" src="docker.webp" alt="docker">
        <img class="technos" src="sinatra.webp" alt="sinatra">
        <img class="technos" src="nginx.webp" alt="nginx"> 
        <img class="technos" src="postgres.webp" alt="postgres">
        <img class="technos" src="sequel.webp" alt="sequel">
        <img class="technos" src="puma.webp" alt="puma">
    </div>
    
    <script src="reload.js"></script>
    
</body>

</html>