<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Toy app based on Sinatra & Puma & Sequel & Postgres & Docker & Nginx">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Sinatra Docker!</title>
</head>

<body>
    <h2>Load balancing instances of a Sinatra-Puma app on Docker served by Postgres/Sequel, reverse-proxied by Nginx.</h2>
    
    <p> The app server Puma serves Sinatra for the dynamic part: queries to the database and server redering dynamic html).
    </p>
    <p>
    The web-server Nginx serves the <strong>static files</strong> (css, png, jpeg,js) instead of Puma.
    </p>
    <p>
    Nginx  <strong>load balances</strong> with Docker's DNS the 8 instances/containers of the app.
    </p>    
    <code>docker-compose up --scale webapp=8</code> 
    <br>  
    <p> Each page refresh is recorded in Postgres with the ORM Sequel (using the <em>sequel_pg</em> module), and the logs are saved to '/dev/stdout' (the console) with Sequel.
    The last logs are displayed below by querying the database. The nginx logs are redirected to STDOUT/STDERROR.        
    </p>
    <p class="btn-center"> <button id='reload'>Reload !</button></p>    
    <p>
        <form action="/clean" method="get" class="btn-center" >
            <input type="submit" value="Reset!" style="color:red; font-size:28px">
        </form>
    </p>
    <hr>
    
    <div class="lb">
        <% figures.each do |server| %>
            <div class="servers" >
                <img  src="server.png" alt="server" >
                <span><%= server[:host] if active == server[:host] %>: &nbsp </span>
                <span><%= server[:count] *100 / counts %> %</span>

            </div>
        <% end %>
        
        
    </div>
    <hr>  
        <div class="aligned">
            <table >
                <tr>
                    <th>Timestamp</th>
                    <th>Client IP</th>
                    <th>Server (Container)</th>
                    <th>Path</th>
                </tr>
                <% queries.each do |query| %>
                    <tr>
                        <td><%= query[:requested_at]     %></td>
                        <td><%= query[:ip] %></td>
                        <td><%= query[:host] %></td>
                        <td><%= query[:path] %></td>
                    </tr>
                <% end %>
            </table>
        </div> 
    <hr>
    <p> The source code is mount bind so any change is the source code only needs `docker-compose up`.</p>
    <p> The static files  are mont binded to nginx so any changes in the <strong>/views/index.erb</strong> 
    file will be displayed when the page is refreshed. 
    </p>
    <div class='tech-grid'>
        <img class="technos" src="docker.webp" alt="docker">
        <img class="technos" src="sinatra.webp" alt="sinatra">
        <img class="technos" src="nginx.webp" alt="nginx"> 
        <img class="technos" src="postgres.webp" alt="postgres">
        <img class="technos" src="sequel.webp" alt="sequel">
        <img class="technos" src="puma.webp" alt="puma">
    </div>
    
    <script src="reload.js"></script>
    
</body>

</html>